@charset "UTF-8";

body{
    background-color: #1DBC4A;
    color:white;
    font-family:poppinsregular, Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin:0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin:20px;

}

a {
    color:white;

}

a:hover{
    color:rgb(56, 56, 58);
    transition: 0.3s all;

}


table {
  font-family: poppinslight;
  border-collapse: collapse;
  width: 100%;
  color: rgb(27, 27, 27);
  background-color: white;
  margin:auto;
  border-radius: 10px;
  
   
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  font-size: 1.2em;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center; /* Adicionado para centralizar verticalmente o conteúdo */
  height: 80vh;
}

.button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px; /* Adicionado espaçamento horizontal entre os botões */
}

.button:hover {
  background-color: #45a049;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2f7f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.popup:target {
  display: block;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.popup:not(:target) {
  display: none;
}

.btnAbrirPopup {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.popup h2 {
  color: #4CAF50;
  font-size: 24px;
  margin-top: 0;
}

.popup label {
  color: #4CAF50;
  font-size: 16px;
  display: block;
  margin-top: 10px;
}

.popup input[type="email"],
.popup input[type="tel"] {
  padding: 8px;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #4CAF50;
  margin-top: 5px;
}

.popup button[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

#btnFecharPopup {
  padding: 10px 20px;
  background-color: #f74f4f;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.btnFecharPopup {
  padding: 8.3px 17.2px;
  background-color: #f74f4f;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: none;
}

.btnEnviarPopup {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}





 