@charset "UTF-8";

body{
    background-color: #1DBC4A;
    color:white;
    font-family:poppinsregular, Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin:0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin:20px;

}

a {
    color:white;

}

a:hover{
    color:rgb(56, 56, 58);
    transition: 0.3s all;

}


h1{
    font-weight: 200;
}

main{
display:flex;
flex-direction:row;
margin-top: 50px;
}

h2{
    font-size:56px;
    line-height: 10px;
    font-family: poppinsmedium, Arial, Helvetica, sans-serif;
}

span{
    color:rgb(54, 58, 54);
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight, Arial, Helvetica, sans-serif;   
}

img{
 width:600px;

}

form{
    display:flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width:50%;
    background-color: rgb(54, 58, 54);
    color: white;
    font-weight: bold;

}

form [type="submit"]:hover{
    cursor:pointer;
    background-color: #2f4435;

}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border:none;
    font-size: 15px;
}

.criarConta>a{
   text-decoration: none;
   padding:  0.90em 0.85em;
    position: inherit;
    text-align: center;
    position: center;
}

.message {
    padding: 10px;
    margin-bottom: 10px;
}

.success {
    background-color: #d4edda;
    color: #155724;
    width: 360px;
    border: 0.2px solid #c3e6cb;
    border-radius: 25px;
}

.loginFailed {
    background-color: #e08386;
    color: #f5fcf7;
    width: 300px;
    border: 0.2px solid #d4a6a8;
    border-radius: 25px;
}
