
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="{{ url_for('static', path='/fonts/stylesheet.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/styles/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/styles/estilizacaoform.css') }}"rel="stylesheet">
    <link href="{{ url_for('static', path='/styles/form.css') }}" rel="stylesheet">
    <title>Óleo Descarte</title>
    
</head>
<body>
  {% extends 'header.html' %}

  {% block content %}

  <window id="popup" class="popup">
    <h2>Digite seus dados para contato!</h2>
    <label>Email</label>
    <input type="email" id="email" name="e-mail" placeholder="Digite aqui..." required >
    <label>Telefone</label>
    <input type="tel" id="fone" name="fone" placeholder="Digite aqui..." required maxlength="9">

    <button class="btnEnviarPopup">Enviar</button>
    <a href="/list" class="btnFecharPopup">Fechar</a>
  </window>   

    <div>
      <br><br>
      <aside>
        <h2>Colete óleo aqui!</h2>
        <p>Peça para retirar com um dos doadores disponíveis e avisaremos sobre seu interesse.</p><br>
      </aside>
      <table>
        <tr>
          <th>Nome</th>
          <th>Cidade</th>
          <th>Bairro</th>
          <th>Litros de óleo</th>
          </tr>
        {% for user in users %}
        <tr>
          <th>{{ user.name }}</th>
          <th>{{ user.city }}</th>
          <th>{{ user.district }}</th>
          <th>{{ user.oil_quantity }}</th>
          <td><button class="btnAbrirPopup button">Retire aqui!</button></td>
          </tr>
          {% endfor %}
        </table>
    </main>
  </div>
     
  <script type="text/javascript" src="../static/script/script.js"></script>

</body>
</html>

{% endblock content %}