<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/fonts/stylesheet.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/styles/usuario.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/styles/estilizacaoform.css') }}"rel="stylesheet">
    <title>Óleo Descarte</title>
</head>
<body>
    {% extends 'header.html' %}

    {% block content %}
   
    <form class="form" action="update-user" method="post">
        <h2>Perfil usuário</h2>
        <p type=""><input name="name" value="{{ user.name }}" placeholder="Nome Completo"></input></p>
        <p type=""><input name="email" value="{{ user.email }}" placeholder="E-mail"></input></p>
        <p type=""><input name="district" value="{{ user.district }}" placeholder="Bairro"></input></p>
        <p type=""><input name="city" value="{{ user.city }}" placeholder="Cidade"></input></p>
        <p type=""><input name="oil_quantity" value="{{ user.oil_quantity }}" placeholder="Quantidade de óleo"></input></p>           
        <button class="register-button" name="action" value="update">Atualizar dados</button>
        <button class="delete-button" name="action" value="delete">Deletar Conta</button>       
      </form>       
</body>
</html>

{% endblock content %}