<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/fonts/" rel="stylesheet">
    <link href="../static/styles/usuario.css" rel="stylesheet">
    <title>Óleo Descarte</title>

    <title>Meu Perfil</title>
</head>
<body>
    <header>
        <div id="title">
            <h1>Óleo</h1>
             <h1>Descarte</h1>
         </div>
        <ul>
          <a href="list"><li>Quero Coletar</li></a>
         <a href="register"><li>Cadastre-se para doar</li></a>
        <a href="/" id="inscreva-se-btn"><li>Já tem uma conta?</li></a>
        </ul>
    </header>
   
    <form class="form">
        <h2>Perfil usuário</h2>
        <p type=""><input placeholder="Nome Completo"></input></p>
        <p type=""><input placeholder="E-mail"></input></p>
        <p type=""><input placeholder="Rua"></input></p>
        <p type=""><input placeholder="Bairro"></input></p>
        <p type=""><input placeholder="Cidade"></input></p>
        <p type=""><input placeholder="Estado"></input></p>
        <p type=""><input placeholder="Telefone"></input></p>
        <p type=""><input placeholder="Quantidade de óleo"></input></p>           
        <button class="register-button">Registrar a conta</button>
        <button class="delete-button">Deletar Conta</button>
        <button class="disable-button">Desativar doação</button>
        <button class="button.logout-button">Sair</button>
       
      </form>
       
</body>
</html>