<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/fonts/stylesheet.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/styles/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/styles/estilizacaoform.css') }}"rel="stylesheet">
    <title>Óleo Descarte</title>
</head>
<body>    
    {% extends 'header.html' %}

    {% block content %}

    <main>
        <aside>
            <h2><span>Criar conta</span></h2>
            <p>Cadastre-se e faça parte da comunidade Óleo Descarte, ajude no bem-estar de todos e na conservação da natureza.</p>
            <form action="/create-user" method="post">
                <input type="text"placeholder="Nome" name="name" required>
                <input type="email"placeholder="E-mail" name="email" required>
                <input type="password"placeholder="Senha" name="hashed_password" required>
                <input type="text"placeholder="Cidade" name="city" required>
                <input type="text"placeholder="Bairro" name="district" required>
                <input type="text"placeholder="Quantidade de Óleo" name="oil_quantity" required>
                <input type="submit"value="Cadastrar">
            </form>
            <br />
            <span class="criarConta"><a href="/">Já possui uma conta? Faça Login!</a></span>
        </aside>
        <article>
            <img src="../static/images/home.svg" alt="Tela de cadastro - ilustração">
        </article>
    </main>
    
</body>
</html>

{% endblock content %}